<div class="nav">
  <div class="h3">
    <div class="h1">Сайт индивидуальных достижений</div>
    <div class="h2">
      Твой рейтинг - это отражение твоего потенциала. Раскрой свои возможности,
      превзойди ожидания и воплоти свои амбиции!
    </div>
  </div>
  <div class="btn">
    <button mat-raised-button color="warn" (click)="logout()">Выйти</button>
  </div>
  <div class="btn add">
    <button mat-raised-button color="warn" (click)="add()">
      Добавить сотрудника
    </button>
  </div>
</div>

<router-outlet></router-outlet>
