<mat-card-content>
  <form [formGroup]="userForm" (ngSubmit)="updateUser()">
    <mat-form-field appearance="outline">
      <mat-label>Повышение квалификации</mat-label>
      <input matInput formControlName="rate1" />
      <mat-error *ngIf="userForm.controls['rate1'].errors?.['required']"
        >Поле обязательно
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Подача рационализаторских предложений</mat-label>
      <input matInput formControlName="rate2" />
      <mat-error *ngIf="userForm.controls['rate2'].errors?.['required']"
        >Поле обязательно
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Участие в общественной жизни организации</mat-label>
      <input matInput formControlName="rate3" />
      <mat-error *ngIf="userForm.controls['rate3'].errors?.['required']"
        >Поле обязательно
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Опыт замещения руководителя</mat-label>
      <input matInput formControlName="rate4" />
      <mat-error *ngIf="userForm.controls['rate4'].errors?.['required']"
        >Поле обязательно
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Наличие благодарностей от руководителя</mat-label>
      <input matInput formControlName="rate5" />
      <mat-error *ngIf="userForm.controls['rate5'].errors?.['required']"
        >Поле обязательно
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Опыт внедрения новых проектов в предприятии </mat-label>
      <input matInput formControlName="rate6" />
      <mat-error *ngIf="userForm.controls['rate6'].errors?.['required']"
        >Поле обязательно
      </mat-error> </mat-form-field
    ><mat-form-field appearance="outline">
      <mat-label>Знание и применение специфических навыков</mat-label>
      <input matInput formControlName="rate7" />
      <mat-error *ngIf="userForm.controls['rate7'].errors?.['required']"
        >Поле обязательно
      </mat-error> </mat-form-field
    ><mat-form-field appearance="outline">
      <mat-label>Соблюдение сроков целей проектов</mat-label>
      <input matInput formControlName="rate8" />
      <mat-error *ngIf="userForm.controls['rate8'].errors?.['required']"
        >Поле обязательно
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ф.И.О.</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="userForm.controls['name'].errors?.['required']"
        >Поле обезательно
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Перечень достижений</mat-label>

      <textarea
        matInput
        formControlName="achievements"
        cdkTextareaAutosize
      ></textarea>
      <mat-error *ngIf="userForm.controls['achievements'].errors?.['required']"
        >Поле обезательно
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="userForm.invalid"
    >
      Обновить
    </button>
  </form>
</mat-card-content>
