
<div class="nav">
  <div class="h3">
  <div class="h1">
    Сайт индивидуальных достижений
  </div>
  <div class="h2">
    Твой рейтинг - это отражение твоего потенциала. Раскрой свои возможности, превзойди ожидания и воплоти свои амбиции!
  </div>
  </div>
  <div class="btn">
  <button
    mat-raised-button
    color="warn"
    >
    Выйти
  </button>
  </div>
</div>

<mat-form-field >
  <mat-label>Поиск</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>
<div class="container">
<div class="mat-elevation-z8">
<table mat-table [dataSource]="users" matSort >
  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Рейтинг</th>
    <td mat-cell *matCellDef="let element" [ngStyle]="getRateCellStyle(element.rate)">{{ element.rate | number:'1.1-1' }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ф.И.О.</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="achievements">
    <th mat-header-cell  *matHeaderCellDef style="text-align: center">Перечень достижений</th>
    <td mat-cell *matCellDef="let element " >{{ element.achievements }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
        mat-row
    *matRowDef="let row; columns: displayedColumns"
    [style.background-color]="row.color"
  ></tr>

</table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 hidePageSize
                 aria-label="Select page of periodic elements">
  </mat-paginator>
  </div>
  <button
    mat-icon-button
    matListItemMeta
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-icon-button
    matListItemMeta
    (click)="addAchievement()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

