.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Задаем контейнеру высоту 100% высоты видимой области */
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3vh;
  background: #0aa373;
  margin-bottom: 10px;
}

.h3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 87%;
}

.h1 {
  color: white;
  font-family: inherit;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.h2 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 18px;
  max-width: 600px;
  margin: 0;
}

.btn {
  position: absolute;
  right: 70px;

  &.add {
    left: 70px;
  }
}

img {
  max-width: 100%;
}

//.img {
//  flex: 1;
//}

.imd {
  //object-fit: cover;
  display: flex;
  width: 95%;
  height: 72vh;
  border-radius: 24px;
  margin: 0 auto;
}
//.forest-image {
//  display: flex;
//  width: 99vw;
//  height: 69vh;
//  max-width: 95%;
//  //max-height: 80vh;
//  border-radius: 24px;
//  margin: 0 auto;
//  /* Масштабирование изображения, чтобы оно заполнило всю доступную область */
//}

.title {
  font-size: 2.875rem;
  color: white;
  padding: 5px;
  display: flex;
  position: absolute;
  left: 4vw;
  bottom: 15vh;
}

.footer {
  width: 100%;
  height: 10%;
  background-color: #0aa373;
  display: block;
  bottom: 0;
  margin-top: 10px;
}
