<p>auth works!</p>
<div class="example-container">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<div class="example-container">
  <mat-form-field>
    <mat-label>password</mat-label>
    <input matInput placeholder="Введите пароль" [formControl]="password" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
