<!--<p>Авторизация</p>-->
<!--<div class="example-container">-->
<!--  <mat-form-field>-->
<!--    <mat-label>Введите свой email</mat-label>-->
<!--    <input matInput placeholder="pat@example.com" [formControl]="email" required>-->
<!--    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<div class="example-container">-->
<!--  <mat-form-field>-->
<!--    <mat-label>Пароль</mat-label>-->
<!--    <input matInput placeholder="Введите пароль" [formControl]="password" required>-->
<!--    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>-->
<!--  </mat-form-field>-->
<!--</div>-->
<div class="container">
  <p class="auth-title">Авторизация</p>
  <div class="example-container">
    <mat-form-field>
      <mat-label>Введите свой email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input matInput placeholder="Введите пароль" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary">Войти</button>
</div>

